<!-- SECTION: accordion -->
<section class="accordion">
  <div class="container --base">
    <div class="accordion__inner flex --just-space">
      <h2 class="accordion__title --h4">Ми можемо стати в нагоді коли Вам потрібно:</h2>
      <div class="accordion__wrapper">
        @@include('../../bem-blocks/question/_question-1.html')
        @@include('../../bem-blocks/question/_question-2.html')
        @@include('../../bem-blocks/question/_question-3.html')
        @@include('../../bem-blocks/question/_question-4.html')
      </div>
    </div>
  </div>
</section>
<!-- !SECTION: accordion -->
