<header class="header">
  @@include('../../bem-blocks/topbar/_topbar-en.html',{"class":"--header"})
  <div class="container --base">
    <div class="header__inner flex --just-space --align-center">
      <div class="header__content">
        <h1 class="header__title">We help to <strong class="header__title-typed"></strong> digital products</h1>
        <p class="header__text">Websites, landing pages, products, remote teams, mobile applications, UX and UI design</p>
        <a href="mailto:hello@roden.design"
           class="header__link button"
           aria-label="Send email"
           title="Send email">Discuss the project</a>
      </div>
      <!-- <picture class="header__pic">
        <source srcset="img/header/header-pic.webp"
                type="image/webp">
        <img src="img/header/header-pic.png"
             alt=""
             class="header__image">
      </picture> -->
      <div class="header__video-wrapper">

        <video muted
               autoplay
               loop
               src="video/roden_800x600_30.mp4"
               poster="img/header/header-pic.png"
               width="100%"
               class="header__video">
        </video>
      </div>
    </div>
  </div>
</header>
