<header class="header">
  <div class="container --base">
    <div class="header__inner flex --just-space --align-center">
      <div class="header__content">
        <h1 class="header__title">Допомагаемо <strong>запускати</strong> цифрові продукти</h1>
        <p class="header__text">Сайти, посадкові сторінки, продукти, видалені команди, мобільні додатки, UX та UI дизайн</p>
        <a href="#"
           class="header__link button">Обговорити проект</a>
      </div>
      <picture class="header__pic">
        <source srcset="../../../img/header/header-pic.webp"
                type="image/webp">
        <img src="../../../img/header/header-pic.png"
             alt=""
             class="header__image">
      </picture>
    </div>
  </div>
</header>
