<header class="header">
  @@include('../../bem-blocks/topbar/_topbar.html',{"class":"--header"})
  <div class="container --base">
    <div class="header__inner flex --just-space --align-center">
      <div class="header__content">
        <h1 class="header__title">Допомагаемо <strong class="header__title-typed"></strong> цифрові продукти</h1>
        <p class="header__text">Сайти, посадкові сторінки, продукти, видалені команди, мобільні додатки, UX та UI дизайн</p>
        <a href="mailto:hello@roden.design"
           class="header__link button">Обговорити проект</a>
      </div>
      <!-- <picture class="header__pic">
        <source srcset="img/header/header-pic.webp"
                type="image/webp">
        <img src="img/header/header-pic.png"
             alt=""
             class="header__image">
      </picture> -->
      <div class="header__video-wrapper">

        <video muted
               autoplay
               loop
               src="video/roden_800x600_30.mp4"
               poster="img/header/header-pic.png"
               width="100%"
               class="header__video">
          <!-- <source media="(min-width: 1300px)"
                src="./video/roden_800x600_30.mp4"
                type="mp4">
        <source media="(min-width: 767px)"
                src="./video/roden_600x450_30.mp4"
                type="mp4"> -->
          <!-- <source 
                type="mp4"> -->
        </video>
      </div>
    </div>
  </div>
</header>
