<section class="advantages">
  <div class="container --slim">
    <div class="advantages__wrapper">
      <h2 class="advantages__title --h1">
        Ми впевнені, що крутий продукт можна створити тільки завдяки синергії завдань бізнесу з потребами користувачів.
      </h2>
      <p class="advantages__list-title --h2">
        Наші таємні засоби:
      </p>
      <div class="container --x-slim">
        <div class="advantages__list">
          @@loop('../../bem-blocks/advantages-item/_advantages-item.html',[
          {"class":"advantages__list-item",
          "title":"Занурення",
          "text":"За допомогою аналітики та взаємодії з представниками бізнесу, ми стаємо повноцінними членами вашої команди",
          "image_name":"advantages_icon"},
          {"class":"advantages__list-item",
          "title":"Планування",
          "text":"В нас завжди є чіткий план з реалізаціі проекту, поділений на спринти. Але не викаблучуємось, коли шось треба зробити “ще на вчора”",
          "image_name":"advantages_icon"},
          {"class":"advantages__list-item",
          "title":"В нас відкрито",
          "text":"Всі процеси прозорі, та кожен гравець команди доступний до зв’язку",
          "image_name":"advantages_icon"},
          {"class":"advantages__list-item",
          "title":"Емпатія",
          "text":"Нам не все одно, як житиме проект та бізнес після завершення робіт. Ми дружимо з нашими клієнтами довго ",
          "image_name":"advantages_icon"}
          ])
        </div>
      </div>
    </div>
  </div>
</section>
