<section class="adventure">
    <div class="container">
        <div class="adventure__wrapper">
            <h2 class="adventure__title --h1">
                Ми впевнені, що крутий продукт можна створити тільки завдяки синергії завдань бізнесу з потребами користувачів.
            </h2>
            <p class="adventure__list-title --h2">
                Наші таємні засоби:
            </p>
            <div class="adventure__list">
                <!--не знаю может и сюда заголовок равзместить-->
                <div class="adventure__list-cart cart-adventure">
                    <img src="img/adventure/adventure_icon.jpg" alt="icon" class="cart-adventure__image">
                    <h3 class="cart-adventure__title --h3">
                        Занурення
                    </h3>
                    <p class="cart-adventure__text --text">
                        За допомогою аналітики та взаємодії з представниками бізнесу, ми стаємо повноцінними членами вашої команди
                    </p>
                </div>
                <div class="adventure__list-cart cart-adventure">
                    <img src="img/adventure/adventure_icon.jpg" alt="icon" class="cart-adventure__image">
                    <h3 class="cart-adventure__title --h3">
                        Планування
                    </h3>
                    <p class="cart-adventure__text --text">
                        В нас завжди є чіткий план з реалізаціі проекту, поділений на спринти. Але не викаблучуємось, коли шось треба зробити “ще на вчора”
                    </p>
                </div>
                <div class="adventure__list-cart cart-adventure">
                    <img src="img/adventure/adventure_icon.jpg" alt="icon" class="cart-adventure__image">
                    <h3 class="cart-adventure__title --h3">
                        В нас відкрито
                    </h3>
                    <p class="cart-adventure__text --text ">
                        Всі процеси прозорі, та кожен гравець команди доступний до зв’язку
                    </p>
                </div>
                <div class="adventure__list-cart cart-adventure">
                    <img src="img/adventure/adventure_icon.jpg" alt="icon" class="cart-adventure__image">
                    <h3 class="cart-adventure__title --h3">
                        Емпатія
                    </h3>
                    <p class="cart-adventure__text --text">
                        Нам не все одно, як житиме проект та бізнес після завершення робіт. Ми дружимо з нашими клієнтами довго 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>