<article class="accordion__item question">
  <button class="question__title">
    <h3 class="question__title-text --h5">
      Власний дизайн відділ
    </h3>
  </button>
  <div class="question__content-wrapper">
    <div class="question__content-inner">
      <p class="question__content-text">
        Створення власного дизайн-відділу може бути дорогим та складним процесом. Але цього можна уникнути, обравши аутсорс дизайнерських послуг. Аутсорсинг дозволяє підвищити ефективність та знизити витрати, а також забезпечує доступ до професійних дизайнерів, які мають великий досвід та знання у своїй галузі.
      </p>
      <p class="question__content-text">
        <strong>Власний дизайн-відділ</strong> на умовах аутсорсу дозволяє бізнесу зосередитися на своїй основній діяльності, не витрачаючи ресурси на пошук та утримання власного дизайн-відділу. Аутсорсинг дизайнерських послуг також дозволяє швидко та ефективно здійснювати проектні завдання та забезпечувати високу якість виконання.
      </p>
    </div>
  </div>
</article>
