<nav class="topbar @@class">
  <div class="container --base">
    <div class="topbar__wrapper flex --just-space">
      <a href="#top"
         class="topbar__logo"
         aria-label="Go to top">
        @@include('../../../svg/include/logo.svg', {"class":"topbar__logo-image"})
      </a>
      <div class="topbar__inner flex --align-center">

        @@include('../menu/_menu.html',{"class":"topbar__menu"})

        <a href="tel:+380679852695"
           class="topbar__icon-link"
           aria-label="Call by phone">
          @@include("../../../svg/include/phone.svg",{"class":"topbar__icon-svg"})
        </a>
        <a href="mailto:hello@roden.design"
           class="topbar__icon-link"
           aria-label="Send an email">
          @@include("../../../svg/include/email.svg",{"class":"topbar__icon-svg"})</a>
        <a href="#"
           class="topbar__lang-link budgie --disabled">En</a>
      </div>
      <button class="topbar__burger budgie"
              aria-label="mobile menu opener">
        <span class="topbar__burger-row"></span><span class="topbar__burger-row"></span><span class="topbar__burger-row"></span>
      </button>

      <div class="topbar__mobile-menu">
        <div class="topbar__menu-wrapper">
          @@include('../menu/_menu.html',{"class":"topbar__menu-mobile"})
        </div>
        <div class="topbar__mobile-bottom flex">
          <a href="tel:+380679852695"
             class="topbar__icon-link"
             aria-label="Call by phone">
            @@include("../../../svg/include/phone.svg",{"class":"topbar__icon-svg"})
          </a>
          <a href="mailto:hello@roden.design"
             class="topbar__icon-link"
             aria-label="Send an email">
            @@include("../../../svg/include/email.svg",{"class":"topbar__icon-svg"})</a>
          <a href="#"
             class="topbar__lang-link budgie --disabled">En</a>
        </div>
      </div>
    </div>
  </div>
</nav>
