<nav class="topbar @@class">
  <div class="container --base">
    <div class="topbar__wrapper flex --just-space">
      <a href="#top"
         class="topbar__logo"
         aria-label="Go to top">
        @@include('../../../svg/include/logo.svg', {"class":"topbar__logo-image"})
      </a>
      <div class="topbar__inner flex --align-center">

        <!-- @@include('../menu/_menu.html',{"class":"topbar__menu"}) -->

        <a href="tel:+380679852695"
           class="topbar__icon-link"
           title="Подзвонити"
           aria-label="Подзвонити">
          @@include("../../../svg/include/phone.svg",{"class":"topbar__icon-svg"})
        </a>
        <a href="mailto:hello@roden.design"
           class="topbar__icon-link"
           title="Відправити електронну пошту"
           aria-label="Відправити електронну пошту">
          @@include("../../../svg/include/email.svg",{"class":"topbar__icon-svg"})</a>
        <a href="./index-en.html"
           class="topbar__lang-link budgie"
           aria-label="Switch to English"
           title="Switch to English">En</a>
      </div>

      <button class="topbar__burger budgie"
              aria-label="mobile menu opener">
        <span class="topbar__burger-row"></span><span class="topbar__burger-row"></span><span class="topbar__burger-row"></span>
      </button>

    </div>
  </div>
</nav>
