<section class="contact --just-center">
    <!--c контейнером вроде должно с работать все правильно-->
    <div class="container --base">
        <div class="contact__wrapper">
            <h3 class="contact__title --h3">
                Опишіть ваше завдання, а ми придумаємо як його вирішити
            </h3>
            <ul class="contact__list flex">
                <li class="contact__list-item">
                    <a href="#" class="contact__list-link budgie">
                        Telegram
                    </a>
                </li>
                <li class="contact__list-item">
                    <a href="#" class="contact__list-link budgie">
                        WhatsApp
                    </a>
                </li>
                <li class="contact__list-item">
                    <a href="#" class="contact__list-link budgie">
                        Viber
                    </a>
                </li>
            </ul>
            <p class="contact__text --text">
                Пишіть у тому форматі, в якому зручно. Завдання описуйте своїми словами.
            </p>
        </div>
    </div>
</section>