.advantages-item {
  padding: 1.5rem 2.5rem;
  background: linear-gradient(0deg, var(--color__back), var(--color__back)),
    linear-gradient(180deg, var(--color__back) 0%, var(--color__grey-1) 100%);
  box-shadow: 0 0.5rem 3rem var(--color__shadow-4);
  border-radius: 8px;
  text-align: center;
  color: var(--color__black-1);

  &__image {}

  &__title {
    display: block;
    margin-bottom: 20px;
  }
}