<div class="in-develop">
  <div class="container --slim">
    <div class="in-develop__inner">
      <p class="in-develop__text --glass">We are a small team of designers and web developers who are tired of studios where design is created solely for the sake of money. We are fed up with seeing typical and uncreative design without aesthetic value, or on the other hand, "Wow" design that complicates user interaction with a website or application. We strive to create a product that is not only beautiful but also functional. We believe that design should be meaningful, convenient, and aesthetic, rather than just "candy-coated”</p>
      <picture class="in-develop__pic">
        <source srcset="../../../img/in-develop/in-develop.webp"
                type="image/webp">
        <img src="../../../img/in-develop/in-develop.png"
             alt=""
             class="in-develop__image">
      </picture>
      <p class="in-develop__title-text">Currently, we are working on the website, but we would be happy <a href="#contacts"
           class="in-develop__title-link">to advise</a> you</p>
      <p class="in-develop__text --bottom-text">Or visit our portfolio:</p>
      <div class="in-develop__links-wrapper flex --just-center">
        <a href="https://www.behance.net/nezdoly"
           target="_blank"
           rel="nofollow noreferrer"
           class="in-develop__social-link budgie --social --be"> @@include('../../../svg/include/social/behance.svg',{"class":"budgie__social-icon"}) Beehance</a>
      </div>
    </div>
  </div>
</div>
