<div class="in-develop">
  <div class="container --slim">
    <div class="in-develop__inner">
      <p class="in-develop__text --glass">Ми - невелика команда дизайнерів та веб-розробників, яка втомилась від студій, де дизайн створюється тільки заради грошей. Нам набридло бачити типовий і некреативний дизайн без естетичної цінності, або навпаки - "Вау" дизайн, що ускладнює користувачу користування сайтом чи додатком. Прагнемо створювати продукт, який буде не лише красивим, але й функціональним. Віримо, що дизайн має бути змістовним, зручним та естетичним, а не просто "карамельним".</p>
      <picture class="in-develop__pic">
        <source srcset="../../../img/in-develop/in-develop.webp"
                type="image/webp">
        <img src="../../../img/in-develop/in-develop.png"
             alt=""
             class="in-develop__image">
      </picture>
      <p class="in-develop__title-text">Наразі ми працюемо над сайтом, але будемо раді <a href="#contacts"
           class="in-develop__title-link">проконсультувати</a> вас</p>
      <p class="in-develop__text --bottom-text">Або завітайте до нашого портфоліо:</p>
      <div class="in-develop__links-wrapper flex --just-center">
        <a href="https://www.behance.net/nezdoly"
           target="_blank"
           rel="nofollow noreferrer"
           class="in-develop__social-link budgie --social --be"> @@include('../../../svg/include/social/behance.svg',{"class":"budgie__social-icon"}) Beehance</a>
      </div>
    </div>
  </div>
</div>
