<div class="in-develop">
  <div class="container --slim">
    <div class="in-develop__inner">
      <p class="in-develop__text">Вітаємо на нашому сайті, де ми допомагаємо підприємцям та бізнесам створювати вражаючі веб-продукти. Наша команда розуміє, що кожен бізнес є унікальним, тому ми працюємо з кожним клієнтом, щоб забезпечити індивідуальний підхід та розробити продукт, який відповідає їхнім потребам.</p>
      <picture class="in-develop__pic">
        <source srcset="../../../img/in-develop/in-develop.webp"
                type="image/webp">
        <img src="../../../img/in-develop/in-develop.png"
             alt=""
             class="in-develop__image">
      </picture>
      <p class="in-develop__title-text">Наразі ми працюемо над сайтом, але будемо раді <a href="#"
           class="in-develop__title-link">проконсультувати</a> вас</p>
      <p class="in-develop__text --bottom-text">Або завітайте до нашого портфоліо:</p>
      <div class="in-develop__links-wrapper flex --just-center">
        <a href="#"
           class="in-develop__social-link budgie"> @@include('../../../svg/include/social/behance.svg',{"class":"budgie__social-icon"}) Beehance</a>
      </div>
    </div>
  </div>
</div>
