<div class="cases">
  <div class="container --base">
    <div class="cases__wrapper">

      <!-- BLOCK: case 1-->
      <div class="cases__item case">
        <div class="case__inner">
          <div class="case__header flex --just-space">
            <picture class="case__logo">
              @@include('../../../svg/include/cases/logo1.svg', {"class":"case__logo-image"})
            </picture>
            <div class="case__description">
              <p class="case__title --h3">З нуля розробили лендінг для продюсерського центру</p>
              <p class="case__text">Помогает нам в этом, изучение вашего бизнеса, анализ потребителя и многое другое. Просто напишите нам и мы разработаем план по реализации вашего проекта</p>
            </div>
          </div>
          <div class="case__body">
            <a href="#"
               class="case__pic-link">
              <picture class="case__pic">
                <source srcset="img/cases/case-1.webp"
                        type="image/webp">
                <img src="img/cases/case-1.jpg"
                     alt=""
                     class="case__image">
              </picture>
            </a>
          </div>
          <div class="case__tags flex --just-center">
            <button class="case__tag budgie">Сайт с нуля</button>
            <button class="case__tag budgie">MVP</button>
            <button class="case__tag budgie">Исследование пользователей</button>
          </div>
        </div>
      </div>
      <!-- !BLOCK: case 1-->

      <!-- BLOCK: case 2-->
      <div class="cases__item case --small">
        <div class="case__inner">
          <div class="case__header flex --just-space">
            <picture class="case__logo">
              @@include('../../../svg/include/cases/logo1.svg', {"class":"case__logo-image"})
            </picture>
            <div class="case__description">
              <p class="case__title --h3">З нуля розробили лендінг для продюсерського центру</p>
              <p class="case__text">Помогает нам в этом, изучение вашего бизнеса, анализ потребителя и многое другое. Просто напишите нам и мы разработаем план по реализации вашего проекта</p>
            </div>
          </div>
          <div class="case__body">
            <a href="#"
               class="case__pic-link">
              <picture class="case__pic">
                <source srcset="img/cases/case-1.webp"
                        type="image/webp">
                <img src="img/cases/case-1.jpg"
                     alt=""
                     class="case__image">
              </picture>
            </a>
          </div>
          <div class="case__tags flex --just-center">
            <button class="case__tag budgie">Сайт с нуля</button>
            <button class="case__tag budgie">MVP</button>
            <button class="case__tag budgie">Исследование пользователей</button>
          </div>
        </div>
      </div>
      <!-- !BLOCK: case 2-->

      <!-- BLOCK: case 3-->
      <div class="cases__item case">
        <div class="case__inner">
          <div class="case__header flex --just-space">
            <picture class="case__logo">
              @@include('../../../svg/include/cases/logo1.svg', {"class":"case__logo-image"})
            </picture>
            <div class="case__description">
              <p class="case__title --h3">З нуля розробили лендінг для продюсерського центру</p>
              <p class="case__text">Помогает нам в этом, изучение вашего бизнеса, анализ потребителя и многое другое. Просто напишите нам и мы разработаем план по реализации вашего проекта</p>
            </div>
          </div>
          <div class="case__body">
            <a href="#"
               class="case__pic-link">
              <picture class="case__pic">
                <source srcset="img/cases/case-1.webp"
                        type="image/webp">
                <img src="img/cases/case-1.jpg"
                     alt=""
                     class="case__image">
              </picture>
            </a>
          </div>
          <div class="case__tags flex --just-center">
            <button class="case__tag budgie">Сайт с нуля</button>
            <button class="case__tag budgie">MVP</button>
            <button class="case__tag budgie">Исследование пользователей</button>
          </div>
        </div>
      </div>
      <!-- !BLOCK: case 3-->

      <!-- BLOCK: case 4-->
      <div class="cases__item case --small">
        <div class="case__inner">
          <div class="case__header flex --just-space">
            <picture class="case__logo">
              @@include('../../../svg/include/cases/logo1.svg', {"class":"case__logo-image"})
            </picture>
            <div class="case__description">
              <p class="case__title --h3">З нуля розробили лендінг для продюсерського центру</p>
              <p class="case__text">Помогает нам в этом, изучение вашего бизнеса, анализ потребителя и многое другое. Просто напишите нам и мы разработаем план по реализации вашего проекта</p>
            </div>
          </div>
          <div class="case__body">
            <a href="#"
               class="case__pic-link">
              <picture class="case__pic">
                <source srcset="img/cases/case-1.webp"
                        type="image/webp">
                <img src="img/cases/case-1.jpg"
                     alt=""
                     class="case__image">
              </picture>
            </a>
          </div>
          <div class="case__tags flex --just-center">
            <button class="case__tag budgie">Сайт с нуля</button>
            <button class="case__tag budgie">MVP</button>
            <button class="case__tag budgie">Исследование пользователей</button>
          </div>
        </div>
      </div>
      <!-- !BLOCK: case 4-->

      <!-- BLOCK: case 5-->
      <div class="cases__item case">
        <div class="case__inner">
          <div class="case__header flex --just-space">
            <picture class="case__logo">
              @@include('../../../svg/include/cases/logo1.svg', {"class":"case__logo-image"})
            </picture>
            <div class="case__description">
              <p class="case__title --h3">З нуля розробили лендінг для продюсерського центру</p>
              <p class="case__text">Помогает нам в этом, изучение вашего бизнеса, анализ потребителя и многое другое. Просто напишите нам и мы разработаем план по реализации вашего проекта</p>
            </div>
          </div>
          <div class="case__body">
            <a href="#"
               class="case__pic-link">
              <picture class="case__pic">
                <source srcset="img/cases/case-1.webp"
                        type="image/webp">
                <img src="img/cases/case-1.jpg"
                     alt=""
                     class="case__image">
              </picture>
            </a>
          </div>
          <div class="case__tags flex --just-center">
            <button class="case__tag budgie">Сайт с нуля</button>
            <button class="case__tag budgie">MVP</button>
            <button class="case__tag budgie">Исследование пользователей</button>
          </div>
        </div>
      </div>
      <!-- !BLOCK: case 5-->

    </div>
  </div>
</div>
