<section class="messengers --just-center">
  <!--c контейнером вроде должно с работать все правильно-->
  <div class="container --base">
    <div class="messengers__wrapper">
      <h3 class="messengers__title --h3">
        Опишіть ваше завдання, а ми придумаємо як його вирішити
      </h3>
      <ul class="messengers__list flex --just-center">
        <li class="messengers__list-item">
          <a href="#"
             class="messengers__list-link budgie">
            Telegram
          </a>
        </li>
        <li class="messengers__list-item">
          <a href="#"
             class="messengers__list-link budgie">
            WhatsApp
          </a>
        </li>
        <li class="messengers__list-item">
          <a href="#"
             class="messengers__list-link budgie">
            Viber
          </a>
        </li>
      </ul>
      <p class="messengers__text --text">
        Пишіть у тому форматі, в якому зручно. Завдання описуйте своїми словами.
      </p>
    </div>
  </div>
</section>
