:root {
  --color__back: rgb(255, 255, 255);
  --color__black-1: rgb(61, 61, 61);
  --color__black-2: rgb(130, 130, 130);
  --color__purple: rgb(142, 84, 233);
  --color__pink-1: rgb(242, 13, 129);
  --color__pink-2: rgb(220, 22, 122);
  --color__pink-3: rgb(255, 0, 129);
  --color__shadow-1: rgba(220, 22, 122, 0.2);
  --color__shadow-2: rgba(252, 12, 98, 0.25);
  --color__shadow-3: rgba(255, 0, 129, 0.35);
  --color__shadow-4: rgba(0, 0, 0, 0.25);
  --color__grey-1: rgb(207, 215, 211);
}