<div class="contacts">
  <div class="container --base">
    <div class="contacts__inner flex --just-space">
      <div class="contacts__links">
        <a href="mailto:hello@roden.design"
           class="contacts__email">hello@roden.design</a>
        <div class="contacts__links-wrapper flex">
          <a href="#"
             class="contacts__link budgie">@@include('../../../svg/include/social/tg.svg',{"class":"budgie__social-icon"})Telegram</a>
          <a href="#"
             class="contacts__link budgie">@@include('../../../svg/include/social/whatsapp.svg',{"class":"budgie__social-icon"})WhatsApp</a>
          <a href="#"
             class="contacts__link budgie">@@include('../../../svg/include/social/viber.svg',{"class":"budgie__social-icon"})Viber</a>
          <a href="#"
             class="contacts__link budgie">@@include('../../../svg/include/social/behance.svg',{"class":"budgie__social-icon"})Behance</a>
          <a href="#"
             class="contacts__link budgie">@@include('../../../svg/include/social/dribbble.svg',{"class":"budgie__social-icon"})Dribble</a>
        </div>
      </div>
      <form class="contacts__form"
            enctype="multipart/form-data">
        <p class="contacts__form-title --h4">Поговоріть з нами про свої проблеми, завдання та цілі</p>
        <div class="contacts__form-item input">
          <label for="contacts__name"
                 class="input__label">Ваше ім'я*</label>
          <input type="text"
                 class="input__field"
                 id="contacts__name"
                 name="Ім'я"
                 required>
        </div>
        <div class="contacts__form-item input">
          <label for="contacts__link"
                 class="input__label">E-mail/Facebook/Telegram/ будь-який зручний спосіб зв'язку*</label>
          <input type="text"
                 class="input__field"
                 id="contacts__link"
                 name="Контакт"
                 required>
        </div>
        <div class="contacts__form-item input">
          <label for="contacts__text"
                 class="input__label">Опишіть завдання або прикріпіть файл нижче.</label>
          <textarea class="input__field"
                    id="contacts__text"
                    name="Повідомлення"></textarea>
        </div>
        <div class="contacts__form-item input">
          <label for="contacts__file"
                 class="input__label">E-mail/Facebook/Telegram/ будь-який зручний спосіб зв'язку*</label>
          <input type="file"
                 class="input__field"
                 id="contacts__file"
                 name="file">
        </div>
        <button class="contacts__form-btn button"
                type="submit">Надіслати</button>
      </form>
    </div>
  </div>
</div>
