<!-- SECTION: methods -->
<section class="methods">
  <div class="container --base --right">
    <div class="methods__inner">
      @@loop("../../bem-blocks/method-item/_method-item.html",[
      {
      "title":"Аналізуємо",
      "text":"Аналізуем конкурентів та споживачів. Розробляем план технічної реалізаціі та подальшого просування проекту."
      },
      {
      "title":"Аналізуємо",
      "text":"Аналізуем конкурентів та споживачів. Розробляем план технічної реалізаціі та подальшого просування проекту."
      },
      {
      "title":"Аналізуємо",
      "text":"Аналізуем конкурентів та споживачів. Розробляем план технічної реалізаціі та подальшого просування проекту."
      },
      {
      "title":"Аналізуємо","text":"Аналізуем конкурентів та споживачів. Розробляем план технічної реалізаціі та подальшого просування проекту."
      },
      ])
    </div>
  </div>
</section>
<!-- !SECTION: methods -->
