<!-- SECTION: methods -->
<section class="methods">
  <div class="container --base --right">
    <div class="methods__wrapper">
      <div class="methods__inner flex --just-space --align-str">
        @@loop("../../bem-blocks/method-item/_method-item.html",[
        {
        "title":"Аналізуємо",
        "text":"Аналізуемо конкурентів та споживачів. Розробляем план технічної реалізаціі та подальшого просування проекту.",
        "class":"methods__item"
        },
        {
        "title":"Розробляємо",
        "text":"Від прототипу до готового рішення. Підбираємо команду фахівців персонально під продукт, його потреби та бюджет.",
        "class":"methods__item"
        },
        {
        "title":"Просуваємо",
        "text":"Відстежуємо шляхи, якими користувачі потрапляють на сайт або додаток. Розробляем та стартуем нові рекламні компанії",
        "class":"methods__item"
        },
        {
        "title":"Поліпшуємо",
        "text":"Вивчаємо аудиторію та те, як вона використовує продукт. Проводимо тестування гіпотез та оптимізуєм проект",
        "class":"methods__item"
        },
        ])
      </div>
    </div>
  </div>
</section>
<!-- !SECTION: methods -->
